@import "font";
@import "home";
@import "profile";
@import "services";
@import "e-delivery";
@import "footer";

* {
  box-sizing: border-box;
  font-family: 'Ubuntu-Regular', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  //font: 14px Verdana, Arial, sans-serif;
  font: 14px "Roboto", sans-serif;
  background-color: #f9f9f9;
  //background: linear-gradient(to bottom, #adf3ff 0%, #ff99cc 100%);
}

.btn-primary {
  background-color: #1A4073 !important;

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      color: white;
    }
  }
}

.btn-danger {
  background-color: #b84242 !important;
}

.navbar-form {
  max-width: 500px !important;
}

.dropdown-toggle {
  &:hover {
    cursor: pointer;
  }
}

.footer {
  margin-top: 30px;
  width: 100%;
  color: white;
  height: 150px;
}

.navbar-nav .nav-link {
  color: #1A4073 !important;
  font-size: 16px !important;
  //text-transform: uppercase !important;
  font-weight: 500 !important;
  letter-spacing: 0.12rem !important;
  padding-right: 1.4rem !important;
  padding-left: 1.4rem !important;
}

.navbar-nav .nav-item.active {
  border-bottom: 2px solid #1A4073;
}

.navbar-nav .nav-item:hover {
  background-color: #1A4073 !important;
  color: white;
}

.nav>li>a:hover {
  background-color: #1A4073 !important;
  color: white !important;
}

.btn-primary {
  background-color: #1A4073 !important;
}

.navbar-brand {
  padding: 0px !important;
}

.input-group-addon {
  background-color: white !important;
}

formItem input:not([type='checkbox']) {
  outline: none;
  border: none;
  padding: 5px;
  padding-left: 110px;
  background: none;
  position: static;
  border-bottom: 1px solid #1A4073;
  display: block;
  margin: 0px;
  height: auto;
  width: 100%;
  font-weight: 100;
  min-height: 30px;
}

*[role="form"] {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0.3em;
}

*[role="form"] h2 {
  // margin-left: 5em;
  margin-bottom: 1em;
}

input[type=checkbox], input[type=radio] {
  //margin: 10px 0 0 !important;
}

.nav-link .fa-envelope {
  font-size: 2.2rem !important;
}

.btn-outline-primary {
  color: #1A4073;
  background-color: transparent;
  background-image: none;
  border-color: #1A4073;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #1A4073;
  border-color: #1A4073;
}



#search-button {
  margin-right: 30px;
  height: 45px;
}

.badge-notify {
  background: red;
  position: absolute;
  top: 5px;
  left: 23px;
  padding: 3px 5px !important;
}

.login-wrapper {
  margin: 30px auto;
  width: 50%;
}

.notification-toggle {
  padding: 0;
  min-width: 320px;
  height: 350px;
  overflow-x: auto;

  ul li {
    list-style-type: none;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid gray;

    :last-child {
      border: 0;

      &:hover {
        //background-color: white;
      }
    }
  }

  ul li:hover {
    background-color: #e7e7e7;
  }

  ul li a {
    color: #000;
    text-decoration: none;
  }
}

.panel {
  //margin: 50px auto !important;
}

.panel-info>.panel-heading {
  color: white;
  background-color: #1A4073;
  border-color: #1A4073;
}

// Popover Call button
#fab-call {
  position: fixed;
  z-index: 999999;
  bottom: 15px;
  right: 10px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: #b84242;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .fab-call-image {
    border-radius: 50%;
    width: 100%;
  }
}

.fab-call-button {
  position: fixed;
  color: white;
  margin: 11px 13px;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    color: white;
    outline: none;
  }

  .fa {
    font-size: 25px;
  }
}

.popover {
  top: -150px !important;
  left: -283px !important;
}

.popover-title {
  text-align: left;
  padding: 3px !important;
}

.popover-content {

  .btn-warning {
    background-color: #b84242 !important;
    border-color: #9c3a3a !important;

    &:hover {
      background-color: #cd4848 !important;
      border-color: #b84242 !important;
    }
  }
}