<div class="row" style="margin: 0 10px;">
  <div class="col-md-3" style="margin: 30px auto;">
    <div class="card card-1" id="notification_panel">
      <div class="notification_panel_title">
        <h1>Obavestenja</h1>
      </div>
      <hr>
      <div id="notification_panel_scroll">

      </div>
        <!--<div class="card card-1">-->
            <!--<span class="notificaiton_button close">&times</span>-->
            <!--<h3>Title</h3>-->
            <!--<p>adahskj h</p>-->
            <!--<div class="notification-buttons">-->
                <!--<button class="btn btn-primary">OK</button>-->
                <!--<button class="btn btn-primary">OK</button>-->
            <!--</div>-->
        <!--</div>-->
    </div>
  </div>

  <div class="col-md-9" style="margin: 30px auto;">
    <h1 style="margin-bottom: 20px;">Status zahteva</h1>

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#licna" style="color: black;">Licna</a></li>
      <li><a data-toggle="tab" href="#pasos" style="color: black;">Pasos</a></li>
      <li><a data-toggle="tab" href="#overenja" style="color: black;">Overenja</a></li>
    </ul>

    <div class="tab-content">
      <div id="licna" class="tab-pane fade in active">

        <div class="timeline-card" style="margin-top: 30px;">
          <div style="display:inline-block;width:100%;overflow-y:auto;">
            <ul class="timeline timeline-horizontal">

              <li class="timeline-item">
                <div class="timeline-badge success"><i class="fa fa-check-circle"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Pasos</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 23.07.2018.</small></p>
                  </div>
                  <div class="timeline-body">
                    <p>Poslata prijava za pasos.</p>
                  </div>
                </div>
              </li>

              <li class="timeline-item">
                <div class="timeline-badge warning"><i class="fa fa-check-circle"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Izvod iz maticne knjige rodjenih</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 01.10.2018.</small></p>
                  </div>
                  <div class="timeline-body">
                    <p>Ceka se da stigne izvod.</p>
                  </div>
                </div>
              </li>

              <li class="timeline-item">
                <div class="timeline-badge danger"><i class="fa fa-check-circle"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Registracija vozila</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 05.09.2018.</small></p>
                  </div>
                  <div class="timeline-body">
                    <p>Potrebno je registrovati vozilo.</p>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <div id="pasos" class="tab-pane fade">

        <div class="timeline-card" style="margin-top: 30px;">
          <div style="display:inline-block;width:100%;overflow-y:auto;">
            <ul class="timeline timeline-horizontal">

              <li class="timeline-item">
                <div class="timeline-badge success"><i class="fa fa-check-circle"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Pasos</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 23.07.2018.</small></p>
                  </div>
                  <div class="timeline-body">
                    <p>Poslata prijava za pasos.</p>
                  </div>
                </div>
              </li>

              <li class="timeline-item">
                <div class="timeline-badge success"><i class="fa fa-check-circle"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Licna karta</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 25.07.2018.</small></p>
                  </div>
                  <div class="timeline-body">
                    <p>Poslata prijava za licnu kartu.</p>
                  </div>
                </div>
              </li>

              <li class="timeline-item">
                <div class="timeline-badge warning"><i class="fa fa-check-circle"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Izvod iz maticne knjige rodjenih</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 01.10.2018.</small></p>
                  </div>
                  <div class="timeline-body">
                    <p>Ceka se da stigne izvod.</p>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <div id="overenja" class="tab-pane fade">

        <div class="timeline-card" style="margin-top: 30px;">
          <div style="display:inline-block;width:100%;overflow-y:auto;">
            <ul class="timeline timeline-horizontal">

              <li class="timeline-item">
                <div class="timeline-badge success"><i class="fa fa-check-circle"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Overenje</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 23.07.2018.</small></p>
                  </div>
                  <div class="timeline-body">
                    <p>Poslata prijava za dobijanje overenja.</p>
                  </div>
                </div>
              </li>

              <li class="timeline-item">
                <div class="timeline-badge warning"><i class="fa fa-check-circle"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Izvod iz maticne knjige rodjenih</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 01.10.2018.</small></p>
                  </div>
                  <div class="timeline-body">
                    <p>Ceka se da stigne izvod.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>