<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ meta.title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

  <!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->

  <!-- Slick Slider CSS -->
  <!--<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.7.1/slick/slick.css"/>-->
  <!--<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.7.1/slick/slick-theme.css"/>-->

  <!-- c3.js CSS-->
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.17/c3.min.css">-->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.min.css" />

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">

  <!-- CSS -->
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- jQuery library -->

  <!--<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


</head>

<body>

  <nav class="navbar" style="background-color: white;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarMenu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars"></i>
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
        </button>
        <a class="navbar-brand" href="/">
          <img src="/images/eUprava.svg" style="width:150px;">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="nav navbar-nav navbar-right">
          <li class="">
              <div class="navbar-form input-group">
                <input class="form-control search-text" style="border-color: #1A4073 !important;" type="search" placeholder="Pretrazi">
                <div class="input-group-btn">
                  <button id="search-button" class="btn btn-outline-primary" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/">Pocetna
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Usluge</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profil">Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/prijava">Prijava</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">
              <i class="fa fa-envelope"></i>
              <span class="badge badge-notify">5</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page content -->
  <main id="main">
    <div class="wrapper">
      {{{ body }}}
      <div class="push"></div>
    </div>
  </main>

  <!-- Bootstrap: Latest compiled JavaScript -->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  <script src="/vendors/bootstrap/js/bootstrap.min.js"></script>

  <!-- Slick Slider JS -->
  <!--<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.7.1/slick/slick.min.js"></script>-->

  <!-- Load d3.js and c3.js -->
  <!--<script src="https://d3js.org/d3.v3.min.js"></script>-->
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.17/c3.min.js"></script>-->

  <!-- Main JS -->
  <script type="text/javascript" src="/js/main.js"></script>

</body>

</html>