<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ meta.title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

  <!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->

  <!-- Slick Slider CSS -->
  <!--<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.7.1/slick/slick.css"/>-->
  <!--<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.7.1/slick/slick-theme.css"/>-->

  <!-- c3.js CSS-->
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.17/c3.min.css">-->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.min.css" />

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">

  <!-- CSS -->
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- jQuery library -->

  <!--<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>


</head>

<body>

  <nav class="navbar navbar-fixed-top" style="background-color: white;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarMenu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars"></i>
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
        </button>
        <a class="navbar-brand" href="/">
          <img class="img-responsive" src="/images/eUprava.svg" style="width:160px;">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item {{#if meta.pocetna}}active{{/if}}" id="pocetna">
            <a class="nav-link" href="/">Pocetna
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item {{#if meta.usluge}}active{{/if}}" id="usluge">
            <a class="nav-link" href="/usluge">Usluge</a>
          </li>
          <li class="nav-item {{#if meta.edostava}}active{{/if}}" id="e-dostava">
            <a class="nav-link" href="/e-dostava">eDostava</a>
          </li>
          <li class="nav-item {{#if meta.profil}}active{{/if}}" id="profil">
            <a class="nav-link" href="/profil">Profil</a>
          </li>
          <li class="nav-item {{#if meta.prijava}}active{{/if}}" id="prijava">
            <a class="nav-link" href="/prijava">Prijava</a>
          </li>
          <li class="nav-item dropdown">
            <a class=" dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="fa fa-envelope"></i>
              <span class="badge badge-notify">4</span>
            </a>
            <div class="dropdown-menu notification-toggle">
              <ul class="text-center" style="padding: 0;">
                <li>
                  <a href="/e-dostava?id=b1">
                    <h4>Title 1</h4>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                  </a>
                </li>
                <li>
                  <a href="/e-dostava?id=b2">
                    <h4>Title 2</h4>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                  </a>
                </li>
                <li>
                  <a href="/e-dostava?id=b3">
                    <h4>Title 3</h4>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                  </a>
                </li>
                <li>
                  <a href="/e-dostava?id=b4">
                    <h4>Title 4</h4>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                  </a>
                </li>
                <li>
                  <a href="/e-dostava" style="color: blue;">Prikazi sva obavestenja</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page content -->
  <main id="main" style="margin-top: 70px;">
    <div class="wrapper">
      {{{ body }}}
      <div class="push"></div>
    </div>
  </main>

  <!-- Bootstrap: Latest compiled JavaScript -->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  <script src="/vendors/bootstrap/js/bootstrap.min.js"></script>

  <!-- Slick Slider JS -->
  <!--<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.7.1/slick/slick.min.js"></script>-->

  <!-- Load d3.js and c3.js -->
  <!--<script src="https://d3js.org/d3.v3.min.js"></script>-->
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.17/c3.min.js"></script>-->

  <!-- Main JS -->
  <script type="text/javascript" src="/js/main.js"></script>

</body>

</html>