<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ meta.title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

  <!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->

  <!-- Slick Slider CSS -->
  <!--<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.7.1/slick/slick.css"/>-->
  <!--<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.7.1/slick/slick-theme.css"/>-->

  <!-- c3.js CSS-->
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.17/c3.min.css">-->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.min.css" />

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">

  <!-- CSS -->
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- jQuery library -->

  <!--<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>


</head>

<body>

  <nav class="navbar navbar-fixed-top" style="background-color: white;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarMenu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars"></i>
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
        </button>
        <a class="navbar-brand" href="/">
          <img class="img-responsive" src="/images/eUprava.svg" style="width:160px;">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item {{#if meta.pocetna}}active{{/if}}" id="pocetna">
            <a class="nav-link" href="/">Почетна
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item {{#if meta.usluge}}active{{/if}}" id="usluge">
            <a class="nav-link" href="/usluge">eУслуге</a>
          </li>
          <li class="nav-item {{#if meta.edostava}}active{{/if}}" id="e-dostava">
            <a class="nav-link" href="/e-dostava">еДостава</a>
          </li>
          <li class="nav-item {{#if meta.profil}}active{{/if}}" id="profil">
            <a class="nav-link" href="/profil">Профил</a>
          </li>
          <li class="nav-item {{#if meta.prijava}}active{{/if}}" id="prijava">
            <a class="nav-link" href="/prijava" id="prijava-link">Пријава</a>
          </li>
          <li class="nav-item dropdown">
            <a class=" dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="fa fa-envelope"></i>
              <span class="badge badge-notify">4</span>
            </a>
            <div class="dropdown-menu notification-toggle">
              <ul style="padding: 0;">
                <li>
                  <a href="/e-dostava?id=b1">
                    <h4>Пасош ускоро истиче</h4>
                    <p>
                      Молимо Вас да у што краћем року предате папирологију.
                    </p>
                  </a>
                </li>
                <li>
                  <a href="/e-dostava?id=b2">
                    <h4>Лична карта ускоро истиче</h4>
                    <p>
                      Молимо Вас да у што краћем року предате папирологију.
                    </p>
                  </a>
                </li>
                <li>
                  <a href="/e-dostava?id=b3">
                    <h4>Регистрација возила ускоро истиче</h4>
                    <p>
                      Молимо Вас да у што краћем року предате папирологију.
                    </p>
                  </a>
                </li>
                <li>
                  <a href="/e-dostava?id=b4">
                    <h4>Регистрација на порталу</h4>
                    <p>
                      Нови инфо.
                    </p>
                  </a>
                </li>
                <li>
                  <a href="/e-dostava" style="color: blue;">Prikazi sva obavestenja</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page content -->
  <main id="main" style="margin-top: 70px;">
    <div class="wrapper">
      {{{ body }}}

      <div id="fab-call">
        <a tabindex="0" class="fab-call-button" role="button" data-toggle="popover">
          <i class="fa fa-phone"></i>
        </a>
      </div>

      <div class="push"></div>
    </div>

    <footer class="footer">
      <div class="footer-top-layout">
        <div class="row">

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-col-item">
              <address>
                <h4>Локација</h4>
                <p>Савска 5, Београд</p>
                <p>Република Србија</p>
              </address>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-col-item">
              <h4>О нама</h4>
              <p>Информације о нашем порталу.</p>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-col-item">
              <h4>Контактирајте нас</h4>
              <div class="footer-item-contact">

                <a href="tel:+12025550132">
                  <i class="fa fa-phone"></i>
                  <span>+1-202-555-0132</span>
                </a>

                <a href="tel:+381621972438">
                  <i class="fa fa-phone"></i>
                  <span>+381-621-972-438</span>
                </a>

                <address>
                  <a href="mailto:euprava@gmail.com">
                    <i class="fa fa-envelope" style="font-size: inherit; !important;"></i>
                    <span>euprava@gmail.com</span>
                  </a>
                </address>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-col-item">
              <img class="img-responsive" src="/images/serbia.png" style="width: 60px; margin: 0 auto;">
            </div>
          </div>

        </div>
        <div class="row">
          <div class="footer-social-networks">
            <a href="/"><i class="fa fa-facebook"></i></a>
            <a href="/"><i class="fa fa-linkedin"></i></a>
            <a href="/"><i class="fa fa-instagram"></i></a>
            <a href="/"><i class="fa fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </footer>
  </main>

  <!--<footer class="footer" style="background-color: #1A4073">-->
      <!--<div class="container">-->

      <!--</div>-->
  <!--</footer>-->
  <!-- Bootstrap: Latest compiled JavaScript -->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  <script src="/vendors/bootstrap/js/bootstrap.min.js"></script>

  <!-- Google Maps -->
  <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACesQpuNYcjMJX2x4WGY4CaLD1AKBFtqs&libraries=visualization&callback=initMap"-->
          <!--async defer></script>-->
  <!--<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>-->

  <!-- Slick Slider JS -->
  <!--<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.7.1/slick/slick.min.js"></script>-->

  <!-- Load d3.js and c3.js -->
  <!--<script src="https://d3js.org/d3.v3.min.js"></script>-->
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.17/c3.min.js"></script>-->

  <!-- Main JS -->
  <script type="text/javascript" src="/js/main.js"></script>

</body>

</html>