<p>{{meta.activeTab}}</p>
<p>asddsadsasda</p>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4" style="display: inline-block;">
                    <img style="border-radius: 50%;" alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image" class="profile_picture img-responsive">
                </div>
                <div class="col-md-8"style="display: inline-block">
                    <div>
                        <h2 id="ime_prezime"> Mihailo Vignjevic </h2>
                        <p id="zanimanje_paragraf">Student demonstrator</p>
                    </div>

                    <hr>
                    <ul>
                        <p id="datum_rodjenja_paragraf">Datum rodjenja: 16. 12. 1997</p>
                        <p id="email_paragraf">Email: mvignjevic97@gmail.com</p>
                        <p id="broj_telefona_paragraf">Broj telefona: +381 64 4098907</p>
                    </ul>
                    <hr>
                    <ul>
                        <p id="jmbg_paragraf">Jmbg: 0123456789123</p>
                        <p id="adresa_paragraf">Adresa: Cvetna 18</p>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>