<div class="container">

    <div>
        <div class="picture_box">
            <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image" class="profile_picture">
        </div>
        <div class="image_box">
            <div class="container" >
                <h2 id="ime_prezime"> Mihailo Vignjevic </h2>
                <p id="zanimanje_paragraf"> </p>


            </div>


            <hr>
            <ul class="container details" >
                <p><span>Datum rodjenja: </span></p>
                <p><span></span>Email: </p>
                <p><span></span>Broj telefona: </p>
            </ul>
            <hr>
            <ul class="container details">
                <p><span>Jmbg: </span></p>
            </ul>

        </div>

    </div>
</div>