<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 id="ime_prezime" class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center">
                            <img style="border-radius: 50%;" alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                                id="profile-image" class="profile_picture img-responsive">
                        </div>
                        <div class=" col-md-9 col-lg-9">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Занимање: </td>
                                        <td id="zanimanje_paragaraf"></td>
                                    </tr>
                                    <tr>
                                        <td>Датум рођења: </td>
                                        <td id="datum_rodjenja_paragraf"></td>
                                    </tr>
                                    <tr>
                                        <td>Пол</td>
                                        <td id="pol_paragraf"></td>
                                    </tr>

                                    <tr>
                                        <tr>
                                            <td>Е-пошта: </td>
                                            <td id="email_paragraf"></td>
                                        </tr>
                                        <tr>
                                            <td>Број телефона: </td>
                                            <td id="broj_telefona_paragraf"></td>
                                        </tr>
                                        <tr>
                                            <td>ЈМБГ: </td>
                                            <td id="jmbg_paragraf"></td>
                                        </tr>
                                        <td>Aдреса: </td>
                                        <td id="adresa_paragraf">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--<a href="#" class="btn btn-secondary pull-right" style="background-color: #1A4073">Измени профил</a>-->
                            <button class="btn btn-primary" style="float: right">
                                <a href="" data-toggle="modal" data-target="#b1" style="text-decoration: none;">
                                    Измени профил
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modals -->
<div class="modal fade" id="b1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!--<h3 class="modal-title">Подаци о налогу</h3>-->
                <!--<hr>-->
                <h3 class="text-center">Подаци о налогу</h3>
                <hr>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="date">Е-пошта:</label>
                                <input type="text" class="form-control" id='profile-email' required />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="consented">Шифра:</label>
                                <input type="password" class="form-control" id='profile-password' required />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="entered">Понови шифру:</label>
                                <input type="password" class="form-control" id='profile-password-2' required />
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-success text-center success-delivery" style="width: 65%; margin: 0 auto; display: none;">
                        <strong>Успешно сте потврдили доставу!</strong>Ускоро ће почети преузимање документа
                    </div>
                </div>
            </div>
            <div class="modal-body" style="text-align: right">
                <button type="submit" class="btn btn-success" id="btn-save">Сачувај</button>
            </div>
        </div>
    </div>
</div>


<script>

    $.post("/korisnik", { jmbg: localStorage.getItem("jmbg") }, function (data) {
        if (data.korisnik) {
            console.log("bilo sta" + data.korisnik);
            $("#jmbg_paragraf").append(data.korisnik.jmbg);
            $("#ime_prezime").html(data.korisnik.ime);
            $("#pol_paragraf").html(data.korisnik.pol);
            $("#adresa_paragraf").html(data.korisnik.adresa);
            $("#zanimanje_paragaraf").html(data.korisnik.zanimanje);
            $("#ime_prezime").append(" " + data.korisnik.prezime);
            $("#email_paragraf").append(data.korisnik.email);
            $("#broj_telefona_paragraf").append(data.korisnik.brojTelefona);
            $("#datum_rodjenja_paragraf").append(data.korisnik.datumRodjenja);

            $('#profile-email').val(data.korisnik.email);
            $('#profile-password').val(data.korisnik.lozinka);
        } else {
            console.log("Neuspesno logovanje");
        }
    });

    $('#btn-save').click(function () {
        $.post('/sacuvaj-korisnika', {
            jmbg: localStorage.getItem("jmbg"),
            email: $('#profile-email').val(),
            lozinka: $('#profile-password').val()
        }, function () {
            window.location.replace('/profil');
        });
    });
</script>