<div class="container">
    <div>
        <div class="picture_box">
            <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image" class="profile_picture">
        </div>
        <div class="image_box">
            <div class="container" >
                <h2 id="ime_prezime"> Mihailo Vignjevic </h2>
                <p id="zanimanje_paragraf"> </p>


            </div>


            <hr>
            <ul class="container details" >
                <p><span>Datum rodjenja: </span></p>
                <p><span></span>Email: </p>
                <p><span></span>Broj telefona: </p>
            </ul>
            <hr>
            <ul class="container details">
                <p><span>Jmbg: </span></p>
            </ul>

        </div>

    </div>

  <div class="container" style="margin: 50px 0;">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Horizontal timeline</h1>
        </div>
        <div style="display:inline-block;width:100%;overflow-y:auto;">
          <ul class="timeline timeline-horizontal">
            <li class="timeline-item">
              <div class="timeline-badge success"><i class="fa fa-check-circle"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Pasos</h4>
                  <p><small class="text-muted"><i class="fa fa-clock-o"></i> 23.07.2018.</small></p>
                </div>
                <div class="timeline-body">
                  <p>Poslata prijava za pasos.</p>
                </div>
              </div>
            </li>
            <li class="timeline-item">
              <div class="timeline-badge success"><i class="fa fa-check-circle"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Licna karta</h4>
                  <p><small class="text-muted"><i class="fa fa-clock-o"></i> 25.07.2018.</small></p>
                </div>
                <div class="timeline-body">
                  <p>Poslata prijava za licnu kartu.</p>
                </div>
              </div>
            </li>
            <li class="timeline-item">
              <div class="timeline-badge info"><i class="fa fa-check-circle"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Izvod iz maticne knjige rodjenih</h4>
                  <p><small class="text-muted"><i class="fa fa-clock-o"></i> 23.07.2018.</small></p>
                </div>
                <div class="timeline-body">
                  <p>Ceka se da stigne izvod.</p>
                </div>
              </div>
            </li>
            <li class="timeline-item">
              <div class="timeline-badge danger"><i class="fa fa-check-circle"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Registracija vozila</h4>
                  <p><small class="text-muted"><i class="fa fa-clock-o"></i> 05.09.2018.</small></p>
                </div>
                <div class="timeline-body">
                  <p>Potrebno je registrovati vozilo.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>