<div class="container">
  <div class="row">
    <div class="login-wrapper">
      <div class="card card-1">
        <form class="form-horizontal" role="form">
          <h2>Регистрација</h2>
          <div class="form-group">
            <label for="jmbg" class="col-sm-3 control-label">Име и презиме
              <span style="color: #ff0000; font-weight: 300">*</span>
            </label>
            <div class="col-sm-9">
              <input type="text" id="jmbg" placeholder="Унесите ваше име и презиме" class="form-control" autofocus> {{!--
                            <span class="help-block">Korisnicko ime sme da sadrzi samo slova i brojeve.</span> --}}
            </div>
          </div>
          <div class="form-group">
            <label for="jmbg" class="col-sm-3 control-label">ЈМБГ
              <span style="color: #ff0000; font-weight: 300">*</span>
            </label>
            <div class="col-sm-9">
              <input type="text" id="jmbg" placeholder="Unesite Vaš jedinstveni matični broj" class="form-control" autofocus> {{!--
                            <span class="help-block">Korisnicko ime sme da sadrzi samo slova i brojeve.</span> --}}
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Е-пошта
              <span style="color: #ff0000; font-weight: 300">*</span>
            </label>
            <div class="col-sm-9">
              <input type="email" id="email" placeholder="Унесите вашу електронску форму" class="form-control"> {{!--
                            <span class="help-block">Unesite validnu email. --}} {{!--
                                <br> Svi email-ovi iz sistema, kao i obaveštenja i dokumenta biće poslati na ovaj email.</span>
                            --}}
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Шифра
              <span style="color: #ff0000; font-weight: 300">*</span>
            </label>
            <div class="col-sm-9">
              <input type="password" id="password" placeholder="Унесите вашу шифру" class="form-control"> {{!--
                            <span class="help-block">Šifra mora da sadrži najmanje 8 karaktera.</span> --}}
            </div>
          </div>
          <div class="form-group">
            <label for="password-repeat" class="col-sm-3 control-label">Поновите шифру
              <span style="color: #ff0000; font-weight: 300">*</span>
            </label>
            <div class="col-sm-9">
              <input type="password" id="-repeat" placeholder="Поновите шифру" class="form-control">
            </div>
          </div>
          <!-- /.form-group -->
          <div class="form-group text-center">
            {{!--
            <div class="col-sm-9 col-sm-offset-3"> --}}
            <button type="submit" class="btn btn-primary btn-lg">Направи налог</button>
            {{!-- </div> --}}
          </div>
        </form>
        <!-- /form -->
      </div>
    </div>
  </div>
</div>
<!-- ./container -->