<div class="container">

  <div class="row">
    <div class="search-container">
      <h1>еУправа претрага</h1>
      <div class="navbar-form input-group" style="width: 100%; margin: 20px auto;">
        <form autocomplete="off">
          <div class="autocomplete">
            <input id="autocompleteInput" name="search" placeholder="Претрага" class="form-control search-text" style="border-color: #1A4073 !important; width: 86%; height: 45px;"
              type="text">
            <div class="input-group-btn">
              <button id="search-button" class="btn btn-outline-primary" type="button">
                <i class="fa fa-microphone"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <button id="btn_pretrazi" class="btn btn-primary btn-lg">Претражи еУправу</button>
    </div>
  </div>

  <hr>



  <div style="display: none" class="panel panel-default" id="izdavanje_pasosa">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#izdavanje_pasosa_collapseThree">
          <span class="glyphicon glyphicon-th-list" style="margin-right: 5px;"> </span>Захтев за издавање пасоша</a>
      </h4>
    </div>
    <div id="izdavanje_pasosa_collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="monitor">Јединствени матични број грађана:</label>
              <input type="text" class="form-control monitor" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="date">Датум рођења:</label>
              <input type="text" class="form-control date" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="consented">Име и презиме:</label>
              <input type="text" class="form-control consented" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="entered">Место, општина рођења:</label>
              <input type="text" class="form-control entered" />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="completed">Девојачко име:</label>
              <input type="text" class="form-control completed" />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="completed">Држављанство:</label>
              <input type="text" class="form-control completed" />
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group">
              <label for="discontinued">Име родитеља:</label>
              <input type="text" class="form-control discontinued" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="status">Пол:</label>
              <select class="form-control status">
                <option>Мушки</option>
                <option>Женски</option>
                <option>Не желим да се изјасним</option>
              </select>
            </div>
          </div>



          <div class="col-md-6">
            <div class="form-group">
              <label for="sites3">Занимање:</label>
              <input type="text" class="form-control sites3" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="enrollment">Адреса пребивалишта:</label>
              <input type="text" class="form-control enrollment" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="Duration2">Држава у коју путујете:</label>
              <input type="text" class="form-control Duration" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" for="risk">Служење војног рока</label>
              <div class="controls" style="margin-left: 20px;">
                <label class="radio" for="risk-0">
                  <input type="radio" name="risk" class="risk-0" value="True" checked="checked"> Јесам
                </label>
                <label class="radio" for="risk-1">
                  <input type="radio" name="risk" class="risk-1" value="False"> Нисам
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="enrollment">Дужина боравка:</label>
              <input type="text" class="form-control enrollment" />
            </div>
          </div>

        </div>
      </div>
      <div class="form-group text-center" >
          <button type="submit" class="btn btn-success btn-lg">Пошаљи форму</button>
      </div>
    </div>
  </div>
  <div style="display: none" class="panel panel-default" id="izdvanje_licne">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#izdvanje_licne_collapseThree">
          <span class="glyphicon glyphicon-th-list" style="margin-right: 5px;"> </span>Захтев за издавање личне карте</a>
      </h4>
    </div>
    <div id="izdvanje_licne_collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="monitor">Јединствени матични број грађана:</label>
              <input type="text" class="form-control monitor" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="date">Датум рођења:</label>
              <input type="text" class="form-control date" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="consented">Име и презиме:</label>
              <input type="text" class="form-control consented" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="entered">Место, општина рођења:</label>
              <input type="text" class="form-control entered" />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="completed">Девојачко име:</label>
              <input type="text" class="form-control completed" />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="completed">Држављанство:</label>
              <input type="text" class="form-control completed" />
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group">
              <label for="discontinued">Име родитеља:</label>
              <input type="text" class="form-control discontinued" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="status">Пол:</label>
              <select class="form-control status">
                <option>Мушки</option>
                <option>Женски</option>
                <option>Не желим да се изјасним</option>
              </select>
            </div>
          </div>



          <div class="col-md-6">
            <div class="form-group">
              <label for="sites3">Занимање:</label>
              <input type="text" class="form-control sites3" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="enrollment">Адреса пребивалишта:</label>
              <input type="text" class="form-control enrollment" />
            </div>
          </div>


        </div>
      </div>
    
    <div class="form-group text-center">
          <button type="submit" class="btn btn-success btn-lg">Пошаљи форму</button>
      </div>
      </div>
  </div>
  <div style="display: none" class="panel panel-default" id="izdavanje_zdravstvene">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#izdavanje_zdravstvene_collapseThree">
          <span class="glyphicon glyphicon-th-list" style="margin-right: 5px;"> </span>Захтев за издавање здравствене књижице</a>
      </h4>
    </div>
    <div id="izdavanje_zdravstvene_collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="monitor">Јединствени матични број грађана:</label>
              <input type="text" class="form-control monitor" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="date">Датум рођења:</label>
              <input type="text" class="form-control date" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="consented">Име и презиме:</label>
              <input type="text" class="form-control consented" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="entered">Место, општина рођења:</label>
              <input type="text" class="form-control entered" />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="completed">Девојачко име:</label>
              <input type="text" class="form-control completed" />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="completed">Држављанство:</label>
              <input type="text" class="form-control completed" />
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group">
              <label for="discontinued">Име родитеља:</label>
              <input type="text" class="form-control discontinued" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="status">Пол:</label>
              <select class="form-control status">
                <option>Мушки</option>
                <option>Женски</option>
                <option>Не желим да се изјасним</option>
              </select>
            </div>
          </div>



          <div class="col-md-6">
            <div class="form-group">
              <label for="sites3">Занимање:</label>
              <input type="text" class="form-control sites3" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="enrollment">Адреса пребивалишта:</label>
              <input type="text" class="form-control enrollment" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="Duration2">Држава у коју путујете:</label>
              <input type="text" class="form-control Duration" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" for="risk">Служење војног рока</label>
              <div class="controls" style="margin-left: 20px;">
                <label class="radio" for="risk-0">
                  <input type="radio" name="risk" class="risk-0" value="True" checked="checked"> Јесам
                </label>
                <label class="radio" for="risk-1">
                  <input type="radio" name="risk" class="risk-1" value="False"> Нисам
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="enrollment">Дужина боравка:</label>
              <input type="text" class="form-control enrollment" />
            </div>
          </div>

        </div>
      </div>
    
    <div class="form-group text-center">
          <button type="submit" class="btn btn-success btn-lg">Пошаљи форму</button>
      </div>
      </div>
  </div>
  <div style="display: none" class="panel panel-default" id="produzetak_pasosa">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#produzetak_pasosa_collapseThree">
          <span class="glyphicon glyphicon-th-list" style="margin-right: 5px;"> </span>Захтев за продужетак пасоша</a>
      </h4>
    </div>
    <div id="produzetak_pasosa_collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="monitor">Јединствени матични број грађана:</label>
              <input type="text" class="form-control monitor" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="date">Датум рођења:</label>
              <input type="text" class="form-control date" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="consented">Име и презиме:</label>
              <input type="text" class="form-control consented" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="entered">Место, општина рођења:</label>
              <input type="text" class="form-control entered" />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="completed">Девојачко име:</label>
              <input type="text" class="form-control completed" />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="completed">Држављанство:</label>
              <input type="text" class="form-control completed" />
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group">
              <label for="discontinued">Име родитеља:</label>
              <input type="text" class="form-control discontinued" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="status">Пол:</label>
              <select class="form-control status">
                <option>Мушки</option>
                <option>Женски</option>
                <option>Не желим да се изјасним</option>
              </select>
            </div>
          </div>



          <div class="col-md-6">
            <div class="form-group">
              <label for="sites3">Занимање:</label>
              <input type="text" class="form-control sites3" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="enrollment">Адреса пребивалишта:</label>
              <input type="text" class="form-control enrollment" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="Duration2">Држава у коју путујете:</label>
              <input type="text" class="form-control Duration" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" for="risk">Служење војног рока</label>
              <div class="controls" style="margin-left: 20px;">
                <label class="radio" for="risk-0">
                  <input type="radio" name="risk" class="risk-0" value="True" checked="checked"> Јесам
                </label>
                <label class="radio" for="risk-1">
                  <input type="radio" name="risk" class="risk-1" value="False"> Нисам
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="enrollment">Дужина боравка:</label>
              <input type="text" class="form-control enrollment" />
            </div>
          </div>

        </div>
      </div>
    
    <div class="form-group text-center">
          <button type="submit" class="btn btn-success btn-lg">Пошаљи форму</button>
      </div>
      </div>
  </div>
  <div style="display: none" class="panel panel-default" id="produzetak_licne">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#produzetak_licne_collapseThree">
          <span class="glyphicon glyphicon-th-list" style="margin-right: 5px;"> </span>Захтев за продужетак личне карте</a>
      </h4>
    </div>
    <div id="produzetak_licne_collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="monitor">Јединствени матични број грађана:</label>
              <input type="text" class="form-control monitor" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="date">Датум рођења:</label>
              <input type="text" class="form-control date" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="consented">Име и презиме:</label>
              <input type="text" class="form-control consented" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="entered">Место, општина рођења:</label>
              <input type="text" class="form-control entered" />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="completed">Девојачко име:</label>
              <input type="text" class="form-control completed" />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="completed">Држављанство:</label>
              <input type="text" class="form-control completed" />
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group">
              <label for="discontinued">Име родитеља:</label>
              <input type="text" class="form-control discontinued" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="status">Пол:</label>
              <select class="form-control status">
                <option>Мушки</option>
                <option>Женски</option>
                <option>Не желим да се изјасним</option>
              </select>
            </div>
          </div>



          <div class="col-md-6">
            <div class="form-group">
              <label for="sites3">Занимање:</label>
              <input type="text" class="form-control sites3" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="enrollment">Адреса пребивалишта:</label>
              <input type="text" class="form-control enrollment" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="Duration2">Држава у коју путујете:</label>
              <input type="text" class="form-control Duration" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" for="risk">Служење војног рока</label>
              <div class="controls" style="margin-left: 20px;">
                <label class="radio" for="risk-0">
                  <input type="radio" name="risk" class="risk-0" value="True" checked="checked"> Јесам
                </label>
                <label class="radio" for="risk-1">
                  <input type="radio" name="risk" class="risk-1" value="False"> Нисам
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="enrollment">Дужина боравка:</label>
              <input type="text" class="form-control enrollment" />
            </div>
          </div>

        </div>
      </div>
    
    <div class="form-group text-center">
          <button type="submit" class="btn btn-success btn-lg">Пошаљи форму</button>
      </div>
      </div>
  </div>
  <hr id="ona_linija" style="display: none;">

  <div class="row">

    <h1 class="text-center">Све услуге еУправе</h1>

    <div class="col-md-4">
      <div class="solutions-item">
        <h3 class="text-center">Образовање</h3>
        <hr>
        <p>
          Овде можете пронаћи више информација о образовању на нашем сервису.
        </p>
        <ul class="solutions-sublist">
          <li class="solutions-subitem">
            <h4>
              <a href="">Високо образовање</a>
            </h4>
          </li>
          <li class="solutions-subitem">
            <h4>
              <a href="">Стручно усавршавање</a>
            </h4>
          </li>
          <li class="solutions-subitem">
            <h4>
              <a href="">Курсеви</a>
            </h4>
          </li>
        </ul>
        <hr>
        <div style="text-align: center">
          <button class="btn btn-primary">
            <a href="">Сазнај више</a>
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="solutions-item">
        <h3 class="text-center">Документа</h3>
        <hr>
        <p>
          Овде можете пронаћи више информација о документима на нашем сервису.
        </p>
        <ul class="solutions-sublist">
          <li class="solutions-subitem">
            <h4>
              <a href="">Лична документа</a>
            </h4>
          </li>
          <li class="solutions-subitem">
            <h4>
              <a href="">Матичне књиге</a>
            </h4>
          </li>
          <li class="solutions-subitem">
            <h4>
              <a href="">Потврде и уверења</a>
            </h4>
          </li>
        </ul>
        <hr>
        <div style="text-align: center">
          <button class="btn btn-primary">
            <a href="">Сазнај више</a>
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="solutions-item">
        <h3 class="text-center">Здравље</h3>
        <hr>
        <p>
          Овде можете пронаћи више информација о здравству на нашем сервису.
        </p>
        <ul class="solutions-sublist">
          <li class="solutions-subitem">
            <h4>
              <a href="">Здравствено осигурање</a>
            </h4>
          </li>
          <li class="solutions-subitem">
            <h4>
              <a href="">Здравствена заштита</a>
            </h4>
          </li>
          <li class="solutions-subitem">
            <h4>
              <a href="">Биомедицина</a>
            </h4>
          </li>
        </ul>
        <hr>
        <div style="text-align: center">
          <button class="btn btn-primary">
            <a href="">Сазнај више</a>
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="solutions-item">
        <h3 class="text-center">Породица</h3>
        <hr>
        <p>
          Овде можете пронаћи више информација о породици на нашем сервису.
        </p>
        <ul class="solutions-sublist">
          <li class="solutions-subitem">
            <h4>
              <a href="">Деца</a>
            </h4>
          </li>
          <li class="solutions-subitem">
            <h4>
              <a href="">Одрасли</a>
            </h4>
          </li>
          <li class="solutions-subitem">
            <h4>
              <a href="">Социјална помоћ</a>
            </h4>
          </li>
        </ul>
        <hr>
        <div style="text-align: center">
          <button class="btn btn-primary">
            <a href="">Сазнај више</a>
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="solutions-item">
        <h3 class="text-center">Финансије</h3>
        <hr>
        <p>
          Овде можете пронаћи више информација о финансијама на нашем сервису.
        </p>
        <ul class="solutions-sublist">
          <li class="solutions-subitem">
            <h4>
              <a href="">Порези</a>
            </h4>
          </li>
          <li class="solutions-subitem">
            <h4>
              <a href="">Конкурси</a>
            </h4>
          </li>
          <li class="solutions-subitem">
            <h4>
              <a href="">Народна банка</a>
            </h4>
          </li>
        </ul>
        <hr>
        <div style="text-align: center">
          <button class="btn btn-primary">
            <a href="">Сазнај више</a>
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="solutions-item">
        <h3 class="text-center">Спорт и омладина</h3>
        <hr>
        <p>
          Овде можете пронаћи више информација о спорту на нашем сервису.
        </p>
        <ul class="solutions-sublist">
          <li class="solutions-subitem">
            <h4>
              <a href="">Спорт</a>
            </h4>
          </li>
          <li class="solutions-subitem">
            <h4>
              <a href="">Кредити</a>
            </h4>
          </li>
          <li class="solutions-subitem">
            <h4>
              <a href="">Омладина</a>
            </h4>
          </li>
        </ul>
        <hr>
        <div style="text-align: center">
          <button class="btn btn-primary">
            <a href="">Сазнај више</a>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<script>
  $.post("/korisnik", { jmbg: localStorage.getItem("jmbg") }, function (data) {
    if (data.korisnik) {
      console.log("bilo sta" + data.korisnik);
      $(".monitor").val(data.korisnik.jmbg);
      $(".date").val(data.korisnik.datumRodjenja);
      $(".consented").val(data.korisnik.ime + " " + data.korisnik.prezime);
      $(".sites3").val(data.korisnik.zanimanje);
      $(".enrollment").val(data.korisnik.adresa);
    } else {
      console.log("neuspesno logovanje");
    }
  });
</script>