<div class="container">

  <div class="row">
    <div class="search-container">
      <h1>eUprava pretraga</h1>
      <div class="navbar-form input-group" style="width: 100%; margin: 20px auto;">
        <form autocomplete="off">
          <div class="autocomplete">
            <input id="autocompleteInput" name="search" placeholder="Pretraga" class="form-control search-text"
                   style="border-color: #1A4073 !important; width: 86%; height: 45px;" type="text">
            <div class="input-group-btn">
              <button id="search-button" class="btn btn-outline-primary" type="button">
                <i class="fa fa-microphone"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <button class="btn btn-primary btn-lg">Pretrazi</button>
    </div>
  </div>

  <hr>

  <div class="row">

    <h1 class="text-center">Spisak usluga eUprava portala</h1>

    <div class="col-md-4">
      <div class="solutions-item">
        <h3>Obrazovanje</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </p>
        <ul class="solutions-sublist">
          <li class="solutions-subitem">
            <h4><a href="">Visoko obrazovanje</a></h4>
          </li>
          <li class="solutions-subitem">
            <h4><a href="">Strucno usavrsavanje</a></h4>
          </li>
          <li class="solutions-subitem">
            <h4><a href="">Kursevi</a></h4>
          </li>
        </ul>
        <button class="btn btn-primary">
          <a href="">Saznaj vise</a>
        </button>
      </div>
    </div>

    <div class="col-md-4">
      <div class="solutions-item">
        <h3>Dokumenta</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </p>
        <ul class="solutions-sublist">
          <li class="solutions-subitem">
            <h4><a href="">Licna dokumenta</a></h4>
          </li>
          <li class="solutions-subitem">
            <h4><a href="">Maticne knjige</a></h4>
          </li>
          <li class="solutions-subitem">
            <h4><a href="">Potvrde i uverenja</a></h4>
          </li>
        </ul>
        <button class="btn btn-primary">
          <a href="">Saznaj vise</a>
        </button>
      </div>
    </div>

    <div class="col-md-4">
      <div class="solutions-item">
        <h3>IT</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </p>
        <ul class="solutions-sublist">
          <li class="solutions-subitem">
            <h4><a href="">Item 1</a></h4>
          </li>
          <li class="solutions-subitem">
            <h4><a href="">Item 2</a></h4>
          </li>
          <li class="solutions-subitem">
            <h4><a href="">Item 3</a></h4>
          </li>
        </ul>
        <button class="btn btn-primary">
          <a href="">Saznaj vise</a>
        </button>
      </div>
    </div>

    <div class="col-md-4">
      <div class="solutions-item">
        <h3>IT</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </p>
        <ul class="solutions-sublist">
          <li class="solutions-subitem">
            <h4><a href="">Item 1</a></h4>
          </li>
          <li class="solutions-subitem">
            <h4><a href="">Item 2</a></h4>
          </li>
          <li class="solutions-subitem">
            <h4><a href="">Item 3</a></h4>
          </li>
        </ul>
        <button class="btn btn-primary">
          <a href="">Saznaj vise</a>
        </button>
      </div>
    </div>

    <div class="col-md-4">
      <div class="solutions-item">
        <h3>IT</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </p>
        <ul class="solutions-sublist">
          <li class="solutions-subitem">
            <h4><a href="">Item 1</a></h4>
          </li>
          <li class="solutions-subitem">
            <h4><a href="">Item 2</a></h4>
          </li>
          <li class="solutions-subitem">
            <h4><a href="">Item 3</a></h4>
          </li>
        </ul>
        <button class="btn btn-primary">
          <a href="">Saznaj vise</a>
        </button>
      </div>
    </div>

    <div class="col-md-4">
      <div class="solutions-item">
        <h3>IT</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </p>
        <ul class="solutions-sublist">
          <li class="solutions-subitem">
            <h4><a href="">Item 1</a></h4>
          </li>
          <li class="solutions-subitem">
            <h4><a href="">Item 2</a></h4>
          </li>
          <li class="solutions-subitem">
            <h4><a href="">Item 3</a></h4>
          </li>
        </ul>
        <button class="btn btn-primary">
          <a href="">Saznaj vise</a>
        </button>
      </div>
    </div>

  </div>
</div>