<div class="container">
    <div class="row">
        <div class="login-wrapper" style="width: 40%; margin: 30px auto;">
            <div class="card card-1">
                <form class="form-horizontal" role="form">
                    <h2 class="text-center">Validacija</h2>
                    <div class="form-group">
                        <label for="key" class="col-sm-3 control-label">Kljuc
                            <span style="color: #ff0000; font-weight: 300">*</span>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" id="key" placeholder="Unesite validacioni kljuc iz mejla" class="form-control" required>
                            <span class="help-block">Dobili ste mejl koji sadrzi validacioni kljuc.</span>
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group text-center" style="margin: 40px 0;">
                        <button type="button" id="verify" class="btn btn-primary btn-lg">Potvrdi kljuc</button>
                    </div>
                </form>
                <!-- /form -->
            </div>
        </div>
    </div>
</div>
<!-- ./container -->